body {
    background-color: #e7dbdb;
    display: flex;
    justify-content: center;
}

#container {
    width: 50%;
    height: 680px;
    background-color: rgb(223, 209, 209);
}

#image {
    width: 100%;
    height: 500px;
    border: 5px solid #ffff;
    box-sizing: border-box;
}
